:root {
  --barColor: #1e90ff;
  --cursor: #f00;
}

input[type=range].TimeSlider {
  width: 100%;
  margin: 10.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].TimeSlider:focus {
  outline: none;
}
input[type=range].TimeSlider::-webkit-slider-runnable-track {
  background: var(--barColor);
  border: 1.9px solid #010101;
  border-radius: 25px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range].TimeSlider::-webkit-slider-thumb {
  margin-top: -12.4px;
  width: 9px;
  height: 31px;
  background: #f00;
  border: 2.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].TimeSlider:focus::-webkit-slider-runnable-track {
  background: var(--barColor);
}
input[type=range].TimeSlider::-moz-range-track {
  background: var(--barColor);
  border: 1.9px solid #010101;
  border-radius: 25px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range].TimeSlider::-moz-range-thumb {
  width: 9px;
  height: 31px;
  background: #f00;
  border: 2.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].TimeSlider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range].TimeSlider::-ms-fill-lower {
  background: var(--barColor);
  border: 1.9px solid #010101;
  border-radius: 50px;
}
input[type=range].TimeSlider::-ms-fill-upper {
  background: var(--barColor);
  border: 1.9px solid #010101;
  border-radius: 50px;
}
input[type=range].TimeSlider::-ms-thumb {
  width: 9px;
  height: 31px;
  background: #f00;
  border: 2.1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].TimeSlider:focus::-ms-fill-lower {
  background: var(--barColor);
}
input[type=range].TimeSlider:focus::-ms-fill-upper {
  background: var(--barColor);
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].TimeSlider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }

.range__value{
  width: 64px;
  height: 64px;
  background: 0;
  position
}
}
